.card {
  max-width: 413px;
  max-height: 445px;
}

.card__like-button {
  background-image: url(../images/like-icon-light.svg);
  border: none;
  background-color: transparent;
  width: 23px;
  height: 20px;
  opacity: 70%;
  transition: transform 0.4s ease-in-out;
}

.card__like-button:hover {
  background-image: url(../images/like-icon-dark.svg);
  opacity: 100%;
  cursor: pointer;
  transform: scale(1.2);
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.card__caption {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 461px) {
  .card {
    width: 100%;
    max-width: 288px;
    height: auto;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
  }

  .card__image {
    width: 100%;
    max-width: 288px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    aspect-ratio: 1 / 1;
    height: auto;
  }

  .card__content {
    width: auto;
  }

  .card__caption {
    font-size: 16px;
    margin: 0;
  }
}
