.cards {
  margin: 0 auto;
  padding-bottom: 26px;
  max-width: 1280px;
  max-height: 970px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: repeat(auto-fit, 445px);
  list-style: none;
  margin: 20px auto;
  padding: 0;
  gap: 40px 20px;
}
