.profile {
  display: flex;
  padding: 34px 0 20px 0;
  margin: 0 auto;
  max-width: 1280px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__card {
  display: flex;
  gap: 20px;
  max-width: 635px;
  max-height: 190px;
}

.profile__avatar {
  max-width: 190px;
  max-height: 190px;
  border-radius: 8px;
}

.profile__info {
  display: flex;
  max-width: 420px;
}

.profile__title {
  display: -webkit-box;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile__description {
  display: -webkit-box;
  margin: 0;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__edit-form {
  margin-top: auto;
}

.profile__edit-button {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  opacity: 70%;
  background-color: rgba(33, 33, 33, 0);
  border-style: none;
  gap: 8px;
  transition: opacity 0.5s ease;
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__post-form {
  margin-left: auto;
  margin-top: auto;
  padding: 138px 0 0 20px;
}

.profile__post-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 252, 229, 1);
  width: 149px;
  max-height: 52px;
  border-style: none;
  border-radius: 8px;
  padding: 18px 0 18px 0;
  transition: background-color 0.5s ease-in-out;
}

.profile__post-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 637px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .profile__card {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 100%;
    max-height: none;
  }

  .profile__info {
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
  }

  .profile__title {
    margin-bottom: 6px;
    font-size: 20px;
    gap: 0;
    text-align: center;
  }

  .profile__description {
    -webkit-line-clamp: 3;
  }

  .profile__edit-form {
    padding-top: 32px;
    max-width: 100%;
  }

  .profile__edit-form {
    max-width: 100%;
  }

  .profile__post-form {
    order: 2;
    display: flex;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .profile__post-button {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 14px 0;
  }
}
